.bottom-side{
    -fx-background-image: url(../img/login_background.jpeg);
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.login-panel{
    -fx-background-color: black;
    -fx-opacity: 0.6;
}
